html{
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
}

header{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-end: 2;
    align-items: center;
    padding: 12px;
    column-gap: 40px;
}

footer{
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-end: 2;
    column-gap: 10px;
    align-items: center;
}

main{
    max-width: 800px;
    margin: auto;
}

input{
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
}

textarea{
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
}

button{
    padding: 12px;
    font-size: 110%;
}

.main-page-book-review{
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 40px;
}

.book-cover{
    width: 200px;
    height: auto;
    grid-row: span 5;
}

.book-title{
    font-weight: bold;
    font-size: 150%;
}

.book-rating{
    font-size: 125%;
}

.book-authors{
    color: dimgray;
}

.book-review-form{
    background-color: white;
    padding: 24px;
}

.detail-page-book-review{
    background-color: white;
    padding: 24px;
}
